*.class
*.log
*.jar
*.war

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
docker/dockerfiles
.idea/
.vertx/

# Scala-IDE specific
.scala_dependencies
.worksheet

# ENSIME specific
.ensime_cache/
.ensime

# Intellij IDEA specific
*.iml

# Eclipse IDE specific
.project
.classpath
.settings/

.metadata
.recommenders
RemoteSystemsTempFiles
